/* You can add global styles to this file, and also import other style files */

#themecolors .selector .cursor1 {
    cursor: pointer !important;
}

.img-avatar {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}